@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-out;
}

/* fade animation with opacity and black background and stay with the opacity 1*/
@keyframes fade-in {
  0% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease forwards;
}
/* DROP DOWN SUB MENU */
@layer components {
  .item {
    @apply w-full font-semibold flex flex-wrap select-none dark:text-white;
  }
  .content {
    @apply peer-checked:max-h-max max-h-0 basis-full peer-checked:p-3 overflow-hidden transition-all select-text;
  }
}
/* PREVENT SCROLLING WHEN SIDEBAR IS SHOWING */
.no-scroll {
  overflow: hidden;
}
/*bottom navbar*/
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px; /* Adjust the height as needed */
  background-color: white; /* Set your desired background color */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  z-index: 20; /* Ensure it's on top of other elements */
}

.slide-out {
  transform: translateY(100%);
}

.slide-in {
  transform: translateY(0);
}